#Input
{
padding:0 5px;
color:black;
background-color:#C6884F;
font-size:2vw;
border-radius: 0.5vw;
}
#ScrollBar
{
font-size:2vw;
border-radius: 0.5vw;
background:url(/文件/遊戲開始頁面_選單選中.png)
}
#Share
{
background:url(/文件/排行榜_按鈕_分享.png)
}