#Input
{
padding:0 5px;
color:black;
background-color:#C6884F;
font-size:2vw;
border-radius: 5px;
}
#ScrollBar
{
color:black;
background-color:#C6884F;
font-size:2vw;
border-radius: 5px;

}
#Share
{
background:url(/文件/排行榜_按鈕_分享.png)
}